API_ID=
API_HASH=
BOT_TOKEN=
SESSION_NAME=tg_pdf_img_session
WORK_DIR=workdir
CHANNEL=
DPI=150
JPEG_QUALITY=85
ALBUM_BATCH_SIZE=10
PAUSE_BETWEEN_ALBUMS=1
PAUSE_BETWEEN_PAGES=0
SEPARATOR_TEXT=────────  فاصل بين الملفات  ────────
